.elementor-7258 .elementor-element.elementor-element-37ee6ff > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-7258 .elementor-element.elementor-element-37ee6ff{margin-top:0px;margin-bottom:20px;padding:0px 0px 10px 0px;}.elementor-7258 .elementor-element.elementor-element-a5dd0cf > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-7258 .elementor-element.elementor-element-a5dd0cf > .elementor-element-populated > .elementor-widget-wrap{padding:0px 35px 0px 0px;}.elementor-7258 .elementor-element.elementor-element-5f3c26d{color:#353995;font-family:"Ubuntu", Sans-serif;font-size:30px;font-weight:500;line-height:40px;}.elementor-7258 .elementor-element.elementor-element-1cc74dd{color:#333333;font-family:"Karla", Sans-serif;font-size:16px;line-height:26px;}.elementor-7258 .elementor-element.elementor-element-ddbe9ba > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-7258 .elementor-element.elementor-element-ddbe9ba > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-7258 .elementor-element.elementor-element-532f3f0{text-align:center;}.elementor-7258 .elementor-element.elementor-element-532f3f0 img{border-radius:8px 8px 8px 8px;}.elementor-7258 .elementor-element.elementor-element-18482d76{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:40px;margin-bottom:40px;padding:40px 0px 0px 0px;}.elementor-7258 .elementor-element.elementor-element-18482d76 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-7258 .elementor-element.elementor-element-507ab86b{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-7258 .elementor-element.elementor-element-507ab86b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-7258 .elementor-element.elementor-element-a8e7609 .elementor-heading-title{color:#002E5B;}.elementor-7258 .elementor-element.elementor-element-a8e7609 > .elementor-widget-container{margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-7258 .elementor-element.elementor-element-21c35508{color:#002E5B;font-family:"Karla", Sans-serif;font-size:16px;line-height:26px;}.elementor-7258 .elementor-element.elementor-element-162c7f99 > .elementor-element-populated > .elementor-widget-wrap{padding:40px 0px 0px 0px;}.elementor-7258 .elementor-element.elementor-element-11595b15 > .elementor-element-populated > .elementor-widget-wrap{padding:40px 0px 0px 0px;}.elementor-7258 .elementor-element.elementor-element-a03b7ac:not(.elementor-motion-effects-element-type-background), .elementor-7258 .elementor-element.elementor-element-a03b7ac > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F0F0F0;}.elementor-7258 .elementor-element.elementor-element-a03b7ac{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:40px 0px 0px 0px;}.elementor-7258 .elementor-element.elementor-element-a03b7ac > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-7258 .elementor-element.elementor-element-cfef02b{text-align:left;color:#353995;font-family:"Ubuntu", Sans-serif;font-size:30px;font-weight:500;text-transform:capitalize;line-height:40px;}.elementor-7258 .elementor-element.elementor-element-cfef02b > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 20px 0px;}.elementor-7258 .elementor-element.elementor-element-9cb6514 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-7258 .elementor-element.elementor-element-9cb6514{margin-top:0px;margin-bottom:10px;padding:40px 0px 0px 0px;}.elementor-7258 .elementor-element.elementor-element-9fea083{color:#353995;font-family:"Ubuntu", Sans-serif;font-size:30px;font-weight:500;line-height:40px;}.elementor-7258 .elementor-element.elementor-element-766255e{color:#333333;font-family:"Karla", Sans-serif;font-size:16px;line-height:26px;}.elementor-7258 .elementor-element.elementor-element-6c6c157{text-align:center;}.elementor-7258 .elementor-element.elementor-element-6c6c157 img{border-radius:8px 8px 8px 8px;}@media(min-width:768px){.elementor-7258 .elementor-element.elementor-element-a5dd0cf{width:59.259%;}.elementor-7258 .elementor-element.elementor-element-ddbe9ba{width:40.694%;}.elementor-7258 .elementor-element.elementor-element-5a690bc7{width:100%;}.elementor-7258 .elementor-element.elementor-element-52581615{width:41.57%;}.elementor-7258 .elementor-element.elementor-element-3fbdff10{width:3.952%;}.elementor-7258 .elementor-element.elementor-element-162c7f99{width:22.389%;}.elementor-7258 .elementor-element.elementor-element-11595b15{width:31.089%;}.elementor-7258 .elementor-element.elementor-element-1aba69e{width:59.259%;}.elementor-7258 .elementor-element.elementor-element-268a259{width:40.694%;}}@media(max-width:1024px) and (min-width:768px){.elementor-7258 .elementor-element.elementor-element-5a690bc7{width:100%;}.elementor-7258 .elementor-element.elementor-element-52581615{width:41%;}.elementor-7258 .elementor-element.elementor-element-3fbdff10{width:8%;}.elementor-7258 .elementor-element.elementor-element-162c7f99{width:25%;}.elementor-7258 .elementor-element.elementor-element-11595b15{width:25%;}}/* Start custom CSS for text-editor, class: .elementor-element-cfef02b */.elementor-7258 .elementor-element.elementor-element-18482d76 {
    margin-top: 40px;
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-2f09da4 */.leader-sec .row{
    display: flex;
}

.leader-con {
    width: 31.5%;
}
.leader-con {
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 13%);
    margin: 140px 9px 30px;
    min-height: 300px;
    padding: 0 38px;
}
.leader-con {
    text-align: center;
    padding: 0 30px 0 30px;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 13%);
    margin: 80px 10px 40px 10px;
    min-height: 300px;
    transition: all .5s ease-in-out;
}
.leader-con .vc_column-inner {
    background: 0 0!important;
    border: 0!important;
    padding: 0!important;
}
.leader-con .vc_column-inner .wpb_wrapper {
    margin: -80px 0 0 0;
}
.leader-sec .wpb_column > .vc_column-inner > .wpb_wrapper > :last-child {
    margin-bottom: 0;
}
.leader-con .vc_column-inner .ult-team-member-image {
    width: 186px;
    height: 186px;
    margin: 0 auto!important;
    position: relative!important;
}
.ult-team-member-image {
    overflow: hidden;
    position: relative;
    -webkit-border-top-left-radius: inherit;
    border-top-left-radius: inherit;
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h5.ult-team-member-name.ult-responsive.wow.fadeInUp.animated {
    margin-bottom: 10px !important;
}
.ult-team-member-image img {
    border-radius: 0;
    box-shadow: none;
    vertical-align: middle;
    width: auto;
    border-radius: 50% !important;
    width: 100%;
    max-width: 100%;
        filter: grayscale(100%);
}
.leader-con:hover .ult-team-member-image img {

        filter: grayscale(0%);
}
.leader-con .ult-social-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    background: #007ab9;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    line-height: 46px;
}
.leader-con .ult-social-buttons a i {
    font-size: 21px!important;
    margin-top: -6px;
    top: 0;
    left: 0;
    position: relative;
    color: #fff;
    vertical-align: middle;
}
h6.ult-team-member-position.ult-responsive.wow.fadeInUp.animated {
    padding: 0;
}
.leader-con:hover h5, h6 {
    color: #f7901e!important;
}
h5.ult-team-member-name.ult-responsive.wow.fadeInUp.animated:after {
    display: none;
}
h6.ult-team-member-position.ult-responsive.wow.fadeInUp.animated:after {
    display: none;
}
.leader-con:hover {
    background: #3f3d3d;
    width:33.33%
}
.leader-con:hover .read-click {
    color: #fff!important;
    opacity: .8;
}
.leader-con:hover .read-click {
    display: block;
    margin: 10px 0 0 0;
}
.read-click {
    display: none;
    margin: 0;
  
    font-size: 14px;
    line-height: 22px;
    color: #222;
    letter-spacing: .5px;
}
.wpb_column, .wpb_row {
    height: 100px!important;
}
.leader-con:hover {
     min-height: 400px;
     background: #3f3d3d;
      width: 31.10%;
}

@media(max-width:767px)
{
    .leader-con:hover {
     min-height: 400px !important;
     background: #3f3d3d;
      width: 31.10%;
}
    .wpb_column, .wpb_row:hover {
    height: 520px;
}
    
    .leader-con.wpb_column.vc_column_container.vc_col-sm-4 {
    width: 100%;
    margin-bottom: 40px !important;
}
	.leader-con {
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 13%);
    margin: 100px 20px !important;
    min-height: 300px;
    padding: 0 38px;
    width: 90% !important;
}
.leader-sec .row {
    display: block !important;
}
    
}/* End custom CSS */