.elementor-11234 .elementor-element.elementor-element-5cb8941{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-11234 .elementor-element.elementor-element-e6d177a .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.66 * 100% );}.elementor-11234 .elementor-element.elementor-element-e6d177a:after{content:"0.66";}.elementor-11234 .elementor-element.elementor-element-e6d177a .elementor-post__thumbnail__link{width:100%;}.elementor-11234 .elementor-element.elementor-element-e6d177a .elementor-post__meta-data span + span:before{content:"///";}.elementor-11234 .elementor-element.elementor-element-e6d177a{--grid-column-gap:30px;--grid-row-gap:35px;}.elementor-11234 .elementor-element.elementor-element-e6d177a .elementor-post__thumbnail{border-radius:7px 7px 7px 7px;}.elementor-11234 .elementor-element.elementor-element-e6d177a.elementor-posts--thumbnail-left .elementor-post__thumbnail__link{margin-right:20px;}.elementor-11234 .elementor-element.elementor-element-e6d177a.elementor-posts--thumbnail-right .elementor-post__thumbnail__link{margin-left:20px;}.elementor-11234 .elementor-element.elementor-element-e6d177a.elementor-posts--thumbnail-top .elementor-post__thumbnail__link{margin-bottom:20px;}.elementor-11234 .elementor-element.elementor-element-e6d177a .elementor-post__title, .elementor-11234 .elementor-element.elementor-element-e6d177a .elementor-post__title a{color:#962A2A;}.elementor-11234 .elementor-element.elementor-element-e6d177a .elementor-pagination{text-align:center;margin-top:50px;}.elementor-11234 .elementor-element.elementor-element-e6d177a .elementor-pagination .page-numbers:not(.dots){color:#4B6181;}.elementor-11234 .elementor-element.elementor-element-e6d177a .elementor-pagination a.page-numbers:hover{color:#253792;}body:not(.rtl) .elementor-11234 .elementor-element.elementor-element-e6d177a .elementor-pagination .page-numbers:not(:first-child){margin-left:calc( 10px/2 );}body:not(.rtl) .elementor-11234 .elementor-element.elementor-element-e6d177a .elementor-pagination .page-numbers:not(:last-child){margin-right:calc( 10px/2 );}body.rtl .elementor-11234 .elementor-element.elementor-element-e6d177a .elementor-pagination .page-numbers:not(:first-child){margin-right:calc( 10px/2 );}body.rtl .elementor-11234 .elementor-element.elementor-element-e6d177a .elementor-pagination .page-numbers:not(:last-child){margin-left:calc( 10px/2 );}.elementor-11234 .elementor-element.elementor-element-4ec3335 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-11234 .elementor-element.elementor-element-4ec3335 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-11234 .elementor-element.elementor-element-415d6e2:not(.elementor-motion-effects-element-type-background), .elementor-11234 .elementor-element.elementor-element-415d6e2 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F2F2F2;}.elementor-11234 .elementor-element.elementor-element-415d6e2{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:10px;margin-bottom:0px;padding:20px 20px 20px 20px;}.elementor-11234 .elementor-element.elementor-element-415d6e2 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11234 .elementor-element.elementor-element-4719797 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-11234 .elementor-element.elementor-element-4719797 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-11234 .elementor-element.elementor-element-9933bf3 .elementor-search-form__container{min-height:50px;}.elementor-11234 .elementor-element.elementor-element-9933bf3 .elementor-search-form__submit{min-width:50px;}body:not(.rtl) .elementor-11234 .elementor-element.elementor-element-9933bf3 .elementor-search-form__icon{padding-left:calc(50px / 3);}body.rtl .elementor-11234 .elementor-element.elementor-element-9933bf3 .elementor-search-form__icon{padding-right:calc(50px / 3);}.elementor-11234 .elementor-element.elementor-element-9933bf3 .elementor-search-form__input, .elementor-11234 .elementor-element.elementor-element-9933bf3.elementor-search-form--button-type-text .elementor-search-form__submit{padding-left:calc(50px / 3);padding-right:calc(50px / 3);}.elementor-11234 .elementor-element.elementor-element-9933bf3:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container{border-radius:3px;}.elementor-11234 .elementor-element.elementor-element-9933bf3.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{border-radius:3px;}.elementor-11234 .elementor-element.elementor-element-347845d .elementor-heading-title{color:#002E5B;font-size:20px;}.elementor-11234 .elementor-element.elementor-element-4764b61 .elementor-heading-title{color:#002E5B;font-size:20px;}@media(max-width:767px){.elementor-11234 .elementor-element.elementor-element-e6d177a .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}.elementor-11234 .elementor-element.elementor-element-e6d177a:after{content:"0.5";}.elementor-11234 .elementor-element.elementor-element-e6d177a .elementor-post__thumbnail__link{width:100%;}}@media(min-width:768px){.elementor-11234 .elementor-element.elementor-element-6f73562{width:70%;}.elementor-11234 .elementor-element.elementor-element-4ec3335{width:30%;}}/* Start custom CSS for posts, class: .elementor-element-e6d177a */.elementor-post__title a {
    color: #002e5b !important;
    font-weight: 600;
    font-size: 16px;
}
.elementor-posts .elementor-post__read-more {
    font-size: 16px;
    font-weight: 700;
    color: #002e5b;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-4fce66e */.page-id-11234 .postlist li {
    width: 100% !IMPORTANT;
}
.page-id-11234  .postlist .alm-item img {
    width: 100%!important;
    max-width: 100%!important;
    position: relative!important;
        height: auto !important;
    border-radius: 6px!important;
}
.page-id-11234 h2.eael-entry-title {
    line-height: normal;
}
.page-id-11234 .single-product .h2:after, h2:after {
    margin: 7px 0 0px !important;
}
.page-id-11234 .postlist .alm-item p {
    color: #000!important;
    font-size: 16px!important;
    line-height: 26px !IMPORTANT;
    margin-bottom: 20px!important;
    text-align: justify;
}
.page-id-11234 .eael-grid-post-excerpt p {
    margin: 0;
    font-size: 15px;
}
.page-id-11234 .postlist .alm-item h3 a {
    font-size: 25px;
}

ul.custom-cat-blog-new1 {
    display: flex;
}
ul.custom-cat-blog-new1 li {
    padding-right: 10px !important;
}
ul.custom-cat-blog-new1 li a {
    color: #274d74;
     padding-right: 4px;
    margin-left: -10px;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-4ec3335 */.right-sidebar-sec h5.widget_title, h2 {
    padding: 0px;
    color: #002E5B;
    font-size: 20px !important;
    font-weight: 700!important;
    font-style: normal!important;
    letter-spacing: 0px!important;
    word-spacing: 0px!important;
    text-transform: none!important;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-5cb8941 */.sidebar-sec {
    padding: 0px;
    height: fit-content;
}
button.alm-load-more-btn.more.done {
    display: none !important;
}
.page-id-11234 .postlist li {
    width: 100% !IMPORTANT;
    margin: 0px !important;
}
.page-id-11234 p {
    font-size: 16px;
    text-align: justify;
}
ul.custom-cat-blog-new1 {
    margin-bottom: 0px !important;
}
.post_item .content {
    padding: 0px 10px !important;
}/* End custom CSS */